section.contact-location {
    display: flex;
    justify-content: space-around;
    margin: 100px;

    iframe {
        padding-top: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
    }
}

.telephone, .email {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0;
  color: $naslov;
  position: relative;
}

.telephone a, .email a {
  color: $red;
}

.mail2::before, .tel2::before {
  position: absolute;
  left: 20%;
}

.contact-button {
    width: 190px;
    height: 50px;
    background: $red;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.btn-link {
    padding: 10px 30px;
    background-color: $red;
    border-radius: 10px;
    text-decoration: none;
    color: $white;
}

@media only screen and (max-width: 1200px) {
    section.contact-location {
        flex-direction: column;
    }
    .left-contact {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    form input, textarea, iframe {
        width: 400px;
    }
    input[type="text"],
    input[type="email"],
    textarea[type="text"] {
        font-size: 16px;
    }
}

@media only screen and (max-width: 650px) {
    form input, textarea, iframe {
        width: 300px;
    }
    input[type="text"],
    input[type="email"],
    textarea[type="text"] {
        font-size: 14px;
    }
    section.contact-location {
        margin: 100px 50px;
    }
}
