@font-face {
    font-family: "Poppins";
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Black";
    src: url(../../assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../../assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "Oraqle";
    src: url(../../assets/fonts/Oraqle\%20Script.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
}

main {
    width: 100%;
}