section.gallery {
  h1 {
    margin-left: 100px;
  }

  .gallery-slider {
    margin-top: 100px;
    margin-bottom: 50px;
    img {
      height: 225px;
      margin: 10px;
      border-radius: 10px;
    }
  }
}
