header {
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 80vh;

    .icons {
        position: absolute;
        bottom: 5%;
        right: 10%;

        a {
            text-decoration: none;
        }

        img {
            padding-right: 10px;
        }
    }


    .first-circle {
        position: absolute;
        left: 0;
        bottom: 0%;
        z-index: -1;
    }
    .second-circle {
        position: absolute;
        top: 40%;
        left: 10%;
        z-index: -1;
    }

    .christmas-wrapper {
        height: max-content;
    }

    .santa {
        margin-top: -100px;
        z-index: 1000;
        width: 100%;
    }
}
.right-header {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

    h1 {
        color: $red;
        font-size: 72px;
        font-weight: 100;
        font-family: "Poppins-Bold";
    }

    h3 {
        color: $red;
        font-size: 48px;
        font-weight: bold;
    }

    p {
        color: $textColor;
        font-size: 24px;
        margin: 10px 0;
    }

    a {
        background-color: $red;
        width: max-content;
        padding: 15px 50px;
        border-radius: 8px;
        color: $white;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid $red;
        transition: 0.3s ease;

        &:hover {
            background-color: transparent;
            border: 1px solid $red;
            color: $red;
            transition: 0.3s ease;
        }
    }
}

@media only screen and(max-width: 1300px) {
    header .santa {
        width: 660px;
    }
    .right-header h1 {
        font-size: 64px;
    }
    .right-header h3 {
        font-size: 40px;
    }
    .right-header p {
        font-size: 16px;
    }
    .right-header a {
        padding: 10px 40px;
    }
}

@media only screen and(max-width: 1200px) {
    .links {
        display: none;
    }
    #hamburger {
        display: block;
    }
}

@media only  screen and (max-width: 1100px) {
    header .santa {
        width: 500px;
    }
}

@media only screen and (max-width: 920px) {
    header {
        flex-direction: column;
    }
    .right-header {
        margin: auto;
    }
    header .santa {
        width: 700px;
    }
    .container {
        justify-content: space-between;
    }
    .logo {
        margin-left: 150px;
    }
    #hamburger {
        margin-right: 150px;
    }
} 

@media only screen and (max-width: 760px) {
    nav {
        background-color: #222222;
    }
    #hamburger {
        margin-top: -40px;
        margin-right: 100px;
    }
    header .santa {
        width: 600px;
        margin: auto;
    }
    .logo {
        margin-left: 10px;
    }
    .circles {
        display: none;
    }
} 

@media only screen and (max-width: 620px) {
    header .santa {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .right-header h1 {
        font-size: 56px;
    }
    .right-header h3 {
        font-size: 32px;
    }
    .right-header p {
        font-size: 12px;
    }
    .right-header a {
        padding: 8px 30px;
    }
}

@media only screen and (max-width: 470px) {
    .right-header {
        margin-left: 15px;
    }
    .right-header h1 {
        font-size: 46px;
    }
    .right-header h3 {
        font-size: 28px;
    }
    .right-header p {
        font-size: 12px;
        margin: 5px 0;
    }
    .right-header a {
        padding: 8px 30px;
    }
    .christmas-wrapper {
        z-index: -1;
    }
    .container {
        z-index: 1000;
    }
} 